<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" parallel="classes" thread-count="1" verbose="1" >

    <test name="MainRun" enabled="false">
        <parameter name="browser" value="firefox"/>
        <groups>
            <run>
                <exclude name="IE"/>
                <include name="Firefox"/>
                <include name="Chrome"/>
                <include name="AllBrowsers"/>
                <include name="functional"/>
                <include name="API"/>
                <include name="Smoke"/>
            </run>
        </groups>
        <classes>
            <class name="com.romanceabroad.ui.ContactUsTests">
                <parameter name="email" value="sh11user-test@gmail.com" />
                <parameter name="password" value="te$t$tudent02" />
            </class>
            <class name ="com.romanceabroad.ui.RegistrationTest"></class>
            <class name="com.romanceabroad.ui.HomeTest"></class>
            <class name="com.romanceabroad.ui.BlogTests"></class>
            <class name="com.romanceabroad.ui.ContactUsTests"></class>
            <class name="com.romanceabroad.ui.PrettyWomanTests"></class>
            <class name="com.romanceabroad.ui.HowWeWorkTests"></class>
            <class name="com.romanceabroad.ui.LogInTests"></class>
            <class name="com.romanceabroad.ui.PhotosTests"></class>
        </classes>

    </test>

    <test name="ChromeTestCasesRegistration" enabled="false">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name ="com.romanceabroad.ui.RegistrationTest">
                <methods>
                    <include name="signUpDataValidationPopUpHome"/>
                    <exclude name="signUpDataValidationRegistrationPage"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>